* {
    main-bg:            #F7F4F3B3;
    main-fg:            #523329E6;
    main-br:            #BFB0A7E6;
    main-ex:            #E2DDD9E6;
    select-bg:          #6B503A80;
    select-fg:          #FFE3CCE6;
}
